# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
**/_version.py
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
cov.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cov.xml

# Sphinx documentation
docs/_build/
docs/_api

__pypackages__/
.venv


# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# Log files
**/tmp

# ruff cache
.ruff_cache/

# Temporary files
tmp/
